<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger</title>
    <!-- public stylesheet -->
    <link rel="stylesheet" href="public/assets/css/style.css">
    <!-- image -->
    <link rel="image" href="public/assets/img/burger.png">
    <!-- other javascript -->
    <script src= "https://code.jquery.com/jquery/js"></script>
    <!-- specific js file -->
    <script src= "/assets/js/burgers.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>